{% extends 'userena/profile_base.html' %}
{% load i18n %}
{% load static %}

{% block meta %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block profile_content %}
<div class="card-panel">
	<form action="" method="post" id="chang_password_form">

		{% csrf_token %}

		<div class="row">
			<div class="input-field col s12">
				<div >
					{{ form.old_password.label_tag }}
					{{ form.old_password }}
					{{ form.old_password.errors }}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<div >
					{{ form.new_password1.label_tag }}
					{{ form.new_password1 }}
					{{ form.new_password1.errors }}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<div >
					{{ form.new_password2.label_tag }}
					{{ form.new_password2 }}
					{{ form.new_password2.errors }}
				</div>
			</div>
		</div>
		<p class="center-align">
			<a class="grey darken-2 waves-effect waves-light btn " onclick="$('#chang_password_form').submit()">保存</a>
		</p>
	</form>
</div>
{% endblock %}

{% block morescript %}
	<!-- <script type="text/javascript" src="{% static '/accounts/js/profile_form.js' %}"></script> -->
{% endblock %}
