{% extends 'userena/userena_base.html' %}
{% load i18n %}

{% block title %}{% trans "注册成功" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col s12 m6 offset-m3">
		<div class="card grey lighten-1">
			<div class="card-content ">
				<span class="card-title">注册成功</span>
				<p>
					<!-- {% trans "Thank you for signing up with us!" %} -->
					您已经成功注册为手信用户！感谢！
				</p>
				{% if userena_activation_required %}
					<p>{% blocktrans %}You have been sent an e-mail with an activation link to the supplied email.{% endblocktrans %}</p>
					<p>{% blocktrans %}We will store your signup information for {{ userena_activation_days }} days on our server. {% endblocktrans %}</p>
				{% else  %}
					<p>
						<!-- {% blocktrans %}You can now use the supplied credentials to signin.{% endblocktrans %} -->
						现在可以用注册的用户名密码登陆了。		
					</p>
				{% endif %}
			</div>
			<div class="card-action ">
				<a href="\posts" class="btn">前往手信主页</a>
				<a href="\users\{{user.username}}\" class="btn">前往用户页</a>
			</div>
		</div>
	</div>
</div>


{% endblock %}