{% extends 'userena/userena_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "用户注册" %}{% endblock %}


{% block meta %}
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/signup_form.css' %}" media="screen,projection">
{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<br><br><br>
<div class="hide-on-small-only">
	<br><br><br><br><br> 
</div>

<div class="row">
	<div class="card-panel col s12 m6 l4 offset-m3 offset-l4 transparentpad black-text z-depth-5">
		<!-- TAB -->
		<div >
			<ul class="tabs transparent">
				<li class="tab col s6"><a class="active" href="#signup_form_div">注册</a></li>
				<li class="tab col s6"><a target="_self" href="/users/signin">登陆</a></li>
			</ul>
		</div>

		<br>

		<div id="signup_form_div" class="col s12">
			<form id="signup_form" action="" method="post">
				{% csrf_token %}

				{% if form.non_field_errors %}
					<div class="card-panel  transparent">

						{% for error in form.non_field_errors %}
							<label >{{error}}</label>
							<!-- <div class="chip">
							    {{error}}
							    <i class="close material-icons">close</i>
							</div> -->
						{% endfor %}
					</div>
				{% endif %}
				
				
				{% for field in form %}
					
					<!-- {{ field.errors }} -->
					{# Displaying checkboxes differently #}
				
					{% if field.name == 'remember_me' %}
						<!-- <p class="checkbox"> -->
							{{ field }} 
							<label for="id_{{ field.name }}">{{ field.label }}</label>
						<!-- </p> -->
					{% else %}
						<div class="row">
 							<div class="input-field col s12">
 								<div >
									{{ field.label_tag }}
									{{ field }}
									{{ field.errors }}
								</div>
							</div>
						</div>
			
					{% endif %}
						
				{% endfor %}

				<p class="center-align">
					<a class="grey darken-2 waves-effect waves-light btn " onclick="$('#signup_form').submit()">注册</a>
				</p>
			</form>
		</div>
		<div><i class="Tiny material-icons">done_all</i></div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}


{% block script %}
{% endblock %}