{% load static %}

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
	<li><a href="\accounts\{{ user.username }}">个人信息</a></li>
	<li><a href="#!">two</a></li>
	<li class="divider"></li>
	<li><a href="\accounts\signout">退出</a></li>
	<!-- <li><a href="#!">three</a></li> -->
</ul>
<nav>
	<div class="nav-wrapper">
		<a href="\posts" class="brand-logo left">手信</a>
		<ul class="right hide-on-med-and-down">
			<!-- <li><a href="\posts.html">手信主页</a></li> -->
			
			{% if user.is_authenticated %}
				<li>
					<img src="{{ user.my_profile.get_mugshot_url }}" class="avatar circle nav-avatar" />	
				</li>
				<li>
					<a class="dropdown-button" href="#" data-activates="dropdown1" data-beloworigin="true">	
						{{ user.username }}
						<i class="material-icons right">arrow_drop_down</i>
					</a>

				</li>
			{% else  %}
				<li><a href="\accounts\signup">注册</a></li>
				<li><a href="\accounts\signin">登陆</a></li>
			{% endif %}
			<!-- Dropdown Trigger -->
			
		</ul>
	</div>
</nav>