{% load static %}

<nav class="grey lighten-3">
	<div class="nav-wrapper container">
		<a href="\posts" class="brand-logo">手信</a>

		<ul class="right ">
			<li></li>
			{% if user.is_authenticated %}
				<li></li>
				<li>
					<!-- Dropdown Trigger -->     
					<a class="dropdown-button" href="" data-activates="dropdown2" data-beloworigin="true">	
						<i class="material-icons left">picture_in_picture</i>明信片管理
						<i class="material-icons right">arrow_drop_down</i>
					</a>

				</li>
				<li>
					<!-- Dropdown Trigger -->     
					<a class="dropdown-button" href="" data-activates="dropdown1" data-beloworigin="true">	
						<img src="{{ user.my_profile.get_mugshot_url }}" class="avatar circle nav-avatar" />	
						{{ user.my_profile.nick_name}}
						<i class="material-icons right">arrow_drop_down</i>
					</a>

				</li>
			{% else  %}
				<li><a href="\users\signup">注册</a></li>
				<li><a href="\users\signin\#signin_form">登陆</a></li>
			{% endif %}
		</ul>
	</div>
</nav>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
	<li><a href="\users\{{ user.username }}">个人信息</a></li>
	<!-- <li><a href="#!">two</a></li> -->
	<li class="divider"></li>
	<li><a href="\users\signout">退出</a></li>
	<!-- <li><a href="#!">three</a></li> -->
</ul>

<ul id="dropdown2" class="dropdown-content">
	<li><a href="\posts\new\">发布发片令</a></li>
	<li><a href="\posts\userposts\">我的发片令</a></li>
	<li><a href="#">我的收件箱</a></li>
</ul>