<div class="card-panel">
	{% if user_addresses.count != 0 %}
		<table class="address_list striped highlight responsive-table">
			<thead>
				<tr>
					<th data-field="receiver">收信人</th>
					<th data-field="district">所在地区</th>
					<th data-field="detail">详细地址</th>
					<th data-field="postcode">邮编</th>
					<th data-field="edit">删除</th>
				</tr>
			</thead>

			<tbody>

				{% for address in user_addresses %}
				<tr class="row">
					<td>{{ address.receiver_name}}</td>
					<td>
						{{ address.user_country}} &nbsp;
						{% if address.user_province.code != 0 and address.user_province.code != -1 %}
							{{ address.user_province}}
						{% endif %} &nbsp;
						{% if address.user_city.code != 0 and address.user_city.code != -1 and address.user_city.name != address.user_province.name %}
							{{ address.user_city}}
						{% endif %} &nbsp;
						{% if address.user_district.code != 0 and address.user_district.code != -1   %}
							{{ address.user_district}}
						{% endif %} &nbsp;
					</td>
					
					<td>{{ address.detail_address}}</td>
					<td>{{ address.postcode}}</td>
					<td>
						<a href="/accounts/delete_address/?id={{ address.id }} ">
							<i class="material-icons red-text" >delete</i>
						</a>
						
					</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
	{% else %}
		<h5>空空如也Orz...马上添加一个收信地址吧!</h5>
	{% endif %}

	<!-- Modal Trigger -->
	<br/>
	<div>
		<a class="waves-effect waves-light btn" href="#modal1">添加地址</a>	
	</div>
				
</div>

