<form id='address_form' action="" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	
	{% if form.non_field_errors %}
		<div class="card-panel ">
			{% for error in form.non_field_errors %}
				<label >{{error}}</label>
				<!-- <div class="chip">
				    {{error}}
				    <i class="close material-icons">close</i>
				</div> -->
			{% endfor %}
		</div>
	{% endif %}

	<div class="row">
		<div class="col s12 m6">
			<div >
				{{ form.user_country.label_tag }}
				{{ form.user_country }}
				{{ form.user_country.errors }}
			</div>
		</div>
		<div class="col s12 m6">
			<div >
				{{ form.user_province.label_tag }}
				{{ form.user_province }}
				{{ form.user_province.errors }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m6">
			<div >
				{{ form.user_city.label_tag }}
				{{ form.user_city }}
				{{ form.user_city.errors }}
			</div>
		</div>
		<div class="col s12 m6">
			<div >
				{{ form.user_district.label_tag }}
				{{ form.user_district }}
				{{ form.user_district.errors }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
			<div >
				{{ form.detail_address.label_tag }}
				{{ form.detail_address }}
				{{ form.detail_address.errors }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s6">
			<div >
				{{ form.postcode.label_tag }}
				{{ form.postcode }}
				{{ form.postcode.errors }}
			</div>
		</div>
		<div class="input-field col s6">
			<div >
				{{ form.receiver_name.label_tag }}
				{{ form.receiver_name }}
				{{ form.receiver_name.errors }}
			</div>
		</div>
	</div>

	<div class="row">
		<p class="center-align col s12">
			<a id="save_button" class="grey darken-2 waves-effect waves-light btn ">保存</a>
		</p>
	</div>
</form>